/* Full Screen Images ___________________________________________________________ */
.fullPhoto {
  display: flex;
  position: relative;
  background-image: url("../img/desktopSelects/drivedetail4.jpg");

  /* Full height */
  height: 800px;

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 20;
}

.fullPhoto1 {
  display: flex;
  position: relative;
  background-image: url("../img/desktopSelects/barscene.jpg");

  /* Full height */
  height: 900px;

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
}


.fullPhoto2 {
  display: flex;
  position: relative;
  background-image: url("../img/desktopSelects/SOA_doubleExposure.jpg");

  /* Full height */
  height: 800px;

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
}

.doubleExposure{
  display: flex;
  position: relative;
  background-image: url("../img/desktopSelects/evanscreenportrait.JPG");

  /* Full height */
  height: 800px;

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
}
