
body {
  max-width: 100%;
  color: #3d3d3d;
  background: #ffffff;
	margin: 0;
  font-size: 1rem;
  letter-spacing: 0rem;
  opacity: 1;
  font-family: "Cormorant Garamond", serif;
  font-weight: lighter;
  position: absolute;
  flex-direction: row;
}

img {
  width 100%;
}

a {
	text-decoration: none;
}

p {
  margin-bottom: 20px;
  line-height: 1.5;
  padding: 0 40px;
  width: 100%;
  text-indent: 15px;

}

.section1, .section2, .section3, .section4, .section5, .section6 {
  display: block;
  margin: 75px 200px;
}


.introText {
  display:block;
  padding:75px;
  color: #FFFFFF;
  height: 600px;
}

header {
  background-image: url('../img/SOA2019-26.jpg');
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  position: relative;
  bottom: 0;
  width: 100%;
}

.progress-container{
  position:fixed;
  height:7px;
  background-color: rgba(150, 150, 150, 0.0);
  width:100%;
}

.progressBar {
  width: 0%;
  height: 7px;
  background-color: #c78b44;
}

@-webkit-keyframes moveDown {
	0% { -webkit-transform: translateY(-40px) }
}

h1 {
  font-family: "Nunito Sans", "Lato", sans-serif;
  font-size: 70px;
  margin: 0;
  letter-spacing: .2rem;
	text-transform:uppercase;
  display:block;
  font-weight: lighter;
}

h2 {
  font-family: "Cormorant Garamond", "Lato", sans-serif;
  font-size: 25px;
  margin: 0;
  font-weight: lighter;
}

h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 19px;
  line-height: 1.8rem;
  display: block;
  width: 30%;
  font-weight: lighter;
  display: flex;
}

/* Headphones Disclaimer */
h4 {
  color:#c78b44;
  font-family: "Nunito Sans", "Lato", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.subhead{
  width:30%;
  margin-top: 25px;
}

.disclaimer {display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.headphoneicon {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.portraitIntro{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.verticalPortrait{
  width: 30%;
  height: 30%;
}
