@import "typography.css";
@import "videoSections.css";
@import "fullScreenPhotos.css";


:root{
  --main-copper-base: #c78b44;
  --main-blue-base: #6C8DA3;
}



body {
  max-width: 100%;
  background-color: #ffffff;
	margin: 0;
  opacity: 1;
  position: relative;
}

img {
  width: 100%;
}

.inTextImages{
  margin:0 10;
  max-height: 700px;
  overflow: hidden;
  width:auto;
  width:100%;
}

.footercontent{
  flex-direction: row;
  font-family: 'Nunito Sans', sans-serif;
  text-indent: 0px;
  margin: 75px;
  color: gray;
  line-height: 2;
  font-size: 15px;
  font-weight: lighter;
  text-transform: uppercase;
  /* Do I apply flex? */
}

.bodySection  {
  display: flex;
  flex-direction: row;
  padding: 100px 100px 100px 100px;
  justify-content: center;
}

.centeredContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0px;
  align-items: center;
}

.audioContent{
  flex-direction: column;
}

.overlapText{
  width:70%;
  background-color: rgba(255,255,255,.8);
  display: flex;
  margin: 50px 0px;
  flex-direction: column;
  z-index: 10;
}

.introPadding{
  margin-top: 0px;
  padding-top: 100px;
}

.removeBottomPadding {
  padding-bottom: 0px;
}

.removeTopPadding {
  padding-top: 0px;
}

.infographicSection{
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  margin-left: 10%;
  margin-right:10%;
}

.infoHeadline{
  flex-direction: row;
  width:100%;
}

.infographicContainer{
  display: flex;
  flex-direction: row;
  width:100%;

}

#canvas {
  width:100%;
  height:100%;
  flex-direction: row;
}

.introHeader {
  display:flex;
  flex-direction: column;
  padding:75px;
  height: 100vh;
}

.introcontainer{
  background-color: blue;
}



header {
  background-image: url('../img/SOA2019-26.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative; /* fixed */
  top: 0;
  width: 100%;
  z-index: -1;
}

.progress-container{
  position:fixed;
  height:7px;
  background-color: rgba(150, 150, 150, 0.0);
  width:100vw;
  z-index: 2;
  overflow: hidden;
}

.progressBar {
  position:fixed;
  width: 0%;
  height: 7px;
  background-color: #6C8DA3;
  z-index: 2;
}

.bodyText{
  flex-direction: column;
  width:50%;
  margin-left: 50px;
  margin-right: 50px;
}

.CenterText{
  width:100%;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
}

.bottomWarning {
  display: flex;
  margin-top: 100px;
  margin-bottom: 75px;

}

.linkStyle a {
  background: linear-gradient(to left, rgba(255,255,255,0) 50%, #6C8DA3 50%) 100% 98% / 220% 100% no-repeat;
  color: #333;
  cursor: pointer !important;
  font-size: 20px;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-style: italic;
  padding: 2px 5px;
  text-decoration: none;
  transition: all .35s ease-in-out;
}

.linkStyle a:hover, .linkStyle a:focus {
    background-position: 0 98%;
    color: #000;
    outline: none;
    transition: all .5s ease-in-out; }


.subhead{
  width:35%;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

/*.disclaimer {display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.headphoneicon {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}*/

.content{
  flex-direction: column;
  position: relative;
  z-index: 1;
  background: white;
  min-height: 500px;
  padding-bottom:50px;
  margin: 0 auto;
}


.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-center img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.american {
  background-position:left;
}

/* ----------------- ROW 1 ---------------- */
#row1 {
    width: 100%;
    height: 100vh;
}

#row1bg {
    position: fixed;
    z-index: -100;
}




/* ---------- ROW 2 ----*/
#row2 {
    height: 100vh;
    width: 100vw;
}


/* --------- ROW 3 --------- */
#row3 {
    height: 75vh;
    width: 100vw;
    position: relative;
    align-content: center;
}


  .bar{
    background-color: #6C8DA3;
    height:10px;
    width:100px;
    margin-top: 50px;
    margin-left: 75px;
  }



/* Footer */

footer {
    width: 100%;
    bottom: 0;
    background: #111;
    display: flex;
    border-top: 5px solid #c78b44;
}


/* Audio Player ___________________________________________________________ */

#audioplayer{
	width: 80%;
	height: 60px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 40px;
}

#pButton{
    height:60px;
    width: 60px;
    border: solid;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
    margin-right: 10px;
    border-radius: 60px;
    align:center;
}

.play{background: url('../img/PlayButton.png') ;}
.pause{background: url('../img/PauseButton.png') ;}

#timeline{
	width: 100%;
	height: 20px;
	margin-top: 20px;
	float: left;
	background: #c78b44;
}

#playhead{
	width: 18px;
	height: 18px;
	margin-top: 1px;
	background: rgba(0, 0, 0,1);
}


/* Photo Grid ___________________________________________________________ */

.photoGrid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;

}

.photoBox:hover img.detail1 {
  transform: scale(1.2);
  transform-origin: 50% 50%;
  transition-duration: 9s;
}

.photoBox:hover img.detail2 {
  transform: scale(1.2);
  transform-origin: 50% 50%;
  transition-duration: 9s;
}

.photoBox:hover img.detail3 {
  transform: scale(1.2);
  transform-origin: 50% 50%;
  transition-duration: 9s;
}

.photoBox:hover img.detail4 {
  transform: scale(1.2);
  transform-origin: 50% 50%;
  transition-duration: 9s;
}

.photoBox img {
  width:100%;
  height:100%;
}

.photoBox{
  flex:50%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}



/* Photo Animations ___________________________________________________________ */


.animated{
  opacity:0;
}

.fadeInLeft{
  opacity: 1;
}

.imageSection{
  width: 50%;
  margin-top: 25px;
  justify-content: center;
  /* position: fixed; */
}

.vertImgCent{
  display: flex;
  justify-content: center;
}

.content{
  display: flex;
  justify-content: center;
}

.vertImage {
  height: 500px;
  width: auto;
  overflow: hidden;
  float: right;
}


/* Animated Text ___________________________________________________________ */
.quote {
  display: flex;
  /*align-items: center; */
  justify-content: center;
  flex-direction: row;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 5rem;
  text-transform:uppercase;
  font-weight: bold;
}

.blockQuote {
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
  line-height: .85;
  font-size: 5rem;
  letter-spacing: .2rem;
  font-weight: 400;
  margin-left: 75px;
  hyphens: auto;
}


.blockQuoteDiv{
    height: 500px;
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: #6C8DA3;
}


/* iMac, restrict line-length */
@media only screen and (min-width: 1600px) {
  .inTextImages{
    display: none;
  }
  .hideInDesktop{
    display:none;
  }
  .bodySection {
    max-width: 1600px;
  }
  .overlapText{

  }
  h1{
    font-size: 120px;
  }

  h4{
    font-size: 52px;
  }
  .fullPhoto1 {
    height: 100vh;
  }
}

/* Desktop and Above, restrict line-length */
@media only screen and (min-width: 780px) {
  .inTextImages{
    display: none;
  }
  .hideInDesktop{
    display:none;
  }
  .bodySection {
    max-width: 1600px;
  }
  .centeredContent{
    max-width: 1200px;
  }
}

@media only screen and (max-width: 950px){
  .blockQuoteDiv {
      height: 800px;
  }

  bodyText {
    margin: 50px;
  }
}

/* Mobile screens */
@media only screen and (max-width: 780px) {
  .bodySection, .centeredContent {
    padding: 25px 0px;
  }

  .introHeader{
    height:100vh;
  }

  h1{
    display: flex;
    flex-direction: row;
  }

  .subhead{
    display: flex;
    flex-direction: row;
    width:80%;
  }

  .bodyText{
    flex-direction: row;
    width:100%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .bodySection  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10%;
    margin-right:10%;
  }

  .imageSection, .quote, .blockQuoteDiv, .bar {
    display: none;
  }

  .inTextImages {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width:100%;
  }

  .vimeoEmbedSection, .vimeoEmbedSection2 {
    margin: 0px 10px;
  }

  .hideInDesktop{
    display: flex;
  }

  .footercontent{
    flex-direction: column;
  }

  .addMobileHeight{
    height: 100vh;
  }

  .addMobileMargins{
    margin-top: 150px;
  }

  .vimeoEmbedSection, .vimeoEmbedSection2, .vimeoEmbedSection3 {
    margin-left: 5%;
    margin-right: 5%;

  }

}

.background{
  background-color: green;
}
