p {
  line-height: 1.2;
  text-indent: 15px;
}

.bodyText{
  width:100%;
  margin-left: 50px;
  color: #3d3d3d;
  font-size: 22px;
  letter-spacing: .02rem;
  font-family: 'EB Garamond', serif;
  font-weight: 100;
}

.pullQuote{
  font-family: "Nunito Sans", serif;
  font-size: 40px;
  color: #6C8DA3;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .2rem;
  max-width: 1000px;
}

.pullQuotePic{
  font-family: "Nunito Sans", serif;
  font-size: 40px;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .2rem;
  width:80%;
}

h1 {
  font-family: "Nunito Sans", "Lato", sans-serif;
  font-size: 60px;
  margin-top: 15px;
  letter-spacing: .2rem;
	text-transform:uppercase;
  width: 100%;
  font-weight: lighter;
  color: #FFFFFF;
}

h2 {
  font-family: 'EB Garamond', serif;
  font-size: 25px;
  margin: 0;
  font-weight: lighter;
}

h3 {
  font-family: 'EB Garamond', serif;
  font-size: 19px;
  line-height: 1.8rem;
  display: block;
  width: 30%;
  font-weight: lighter;
}

/* Headphones Disclaimer */
h4 {
  color:#c78b44;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: .1rem;
}

h5 {
  color:#c78b44;
  font-family: "Nunito Sans", "Lato", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2rem;
}
