p {
  line-height: 1.7;
}

.padded-dropcap {
      line-height: 1.2;
      padding-left: 5px;
      padding-right: 10px;
      float: left;
      position: relative;
      top: -0.15em;
      margin-bottom: -0.5em;
      margin-left: -6px;
      margin-right: 2px;
      font-size: 85px;
      font-family:
      font-weight:bold;
    }

.bodyText, .centeredContent, .audioContent{
  width:100%;
  margin-left: 50px;
  color: #3d3d3d;
  font-size: 22px;
  letter-spacing: .02rem;
  font-family: 'EB Garamond', serif;
  font-weight: 100;
  text-align: left;
}

.centeredContent p{
  margin-left: 10%;
  margin-right: 10%;
}

.pullQuote{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 40px;
  color: #c78b44;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: .2rem;
  max-width: 1000px;
}

.pullQuoteBlack{
  color: black;
}

.blue{
  color: #6C8DA3;
}

.gray{
  color: #3d3d3d;
}

.pullQuoteEnd{
  color: #c78b44;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 4rem;
  margin-top: 15px;
  line-height: 6rem;
  letter-spacing: .2rem;
  width: 100%;
  text-transform: uppercase;
  font-weight: lighter;
  color: #FFFFFF;
}

h2 {
  font-family: 'EB Garamond', serif;
  font-size: 25px;
  margin: 0;
  font-weight: lighter;
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 23px;
  line-height: 1.8rem;
  display: block;
  font-weight: 100;
}

/* Headphones Disclaimer */
h4 {
  color:#3d3d3d;
  font-family: 'EB Garamond', serif;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: .1rem;
  text-align: center;
}

h5 {
  color:#fff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 100;
}

h6 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  line-height: 1.8rem;
  font-weight: 200;
  margin: 10px;
}

h7 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  line-height: 1rem;
  font-weight: 200;
  margin-top: 10px;
  color:#fff;
}

.removeLeftMargins h6 {
  margin:0px;
  margin-bottom: 25px;
}

.bottomWarning{
  color: #3d3d3d;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.suicideSection::first-line{
  font-weight: bold;
}

.subhead{
  display: flex;
  margin-left: 15%;
  margin-top: 50px;
  margin-right: 15%;
}

svg {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  display: block;
  margin-top:20px;
  color: white;
}

.toph1 {
  fill: transparent;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s linear forwards;
}

.bottomh1 {
  fill: transparent;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s linear forwards;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
    fill: transparent;
  }
  80% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}
