p {
  line-height: 1.7;
}

.padded-dropcap {
      line-height: 1.2;
      padding-left: 5px;
      padding-right: 10px;
      float: left;
      position: relative;
      top: -0.15em;
      margin-bottom: -0.5em;
      margin-left: -6px;
      margin-right: 2px;
      font-size: 85px;
      font-family:
      font-weight:bold;
    }

.bodyText, .centeredContent, .audioContent{
  width:100%;
  margin-left: 50px;
  color: #3d3d3d;
  font-size: 22px;
  letter-spacing: .02rem;
  font-family: 'EB Garamond', serif;
  font-weight: 100;
  text-align: left;
}

.centeredContent p{
  margin-left: 10%;
  margin-right: 10%;
}

.pullQuote{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 40px;
  color: #c78b44;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: .2rem;
  max-width: 1000px;
}

.blue{
  color: #6C8DA3;
}

.pullQuoteEnd{
  color: #c78b44;
}

.blockQuote{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 35px;
  color: #FFFFFF;
  font-weight: bold;
  line-height: .85;
  text-transform: uppercase;
  letter-spacing: .2rem;
  width:80%;
  hyphens: auto;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 60px;
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  width: 100%;
  font-weight: lighter;
  color: #FFFFFF;
}

h2 {
  font-family: 'EB Garamond', serif;
  font-size: 25px;
  margin: 0;
  font-weight: lighter;
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  line-height: 1.8rem;
  display: block;
  font-weight: 100;
}

/* Headphones Disclaimer */
h4 {
  color:#6C8DA3;
  font-family: 'EB Garamond', serif;
  font-size: 26px;
  font-weight: 200;
  letter-spacing: .1rem;
}

h5 {
  color:#c78b44;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.bottomWarning{
  color: #6C8DA3;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
